<md-content style="" flex layout-padding>
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2 class="md-display-1">Welcome to OM2M Dashboard</h2>
        </div>
    </md-toolbar>
    <h3 class=".md-headline">Click on left menu to display information about Motes (last values, sensors available and charts)<h3/>
    <md-toolbar class="md-warn">
    <h3 class=".md-headline">Powered by<h3/>
    </md-toolbar>
    <div layout layout-xs="column" layout-padding>
    <div flex="30" flex-xs="100">
    <img ng-src="../img/bluemix.png" class="img-responsive md-media-md" alt="image caption">
    </div>
    <div flex="30" flex-xs="100">
    <img ng-src="../img/strongloop.png" class="img-responsive md-media-md" alt="image caption">
    </div>
    <div flex="30" flex-xs="100">
    <img ng-src="../img/om2m.png" class="img-responsive md-media-md" alt="image caption">
    </div>
</md-content>
